# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Data and outputs
data/raw/
outputs/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
